body {
  background-color: #0C151C;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* font-family: 'BankGothic Md BT', sans-serif;
font-family: 'Bank Gothic Light', sans-serif;
font-family: 'BankGothic', sans-serif; */


h1 {
  color: #56C9E8;
  font-family: 'BankGothic Md BT', sans-serif;
  font-size: 3vw;
}

h2 {
  font-family: 'BankGothic Md BT', sans-serif;
  color: #fcab32;
  font-size: 2vw;
}

.h3 {
  color: white;
  background-color: #1D5564;
  font-family: 'BankGothic Md BT', sans-serif;
}

.chiffre {
  font-family: 'DS-Digital', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 85%;
  background-image: url(carte-bg.png);
  background-position: top;
  background-repeat: round;
}

#map__header {
  grid-column: 2;
  display: flex;
  text-align: center;
  align-items: center;
}

#map__info_gauche {
  grid-row: 1 / 3;
  grid-column: 1;
}

#map__info_droite {
  grid-row: 1 / 3;
  grid-column: 3;
}

.map__image {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #1D4D6A;
  background: #0c1f2d72;
}

.map-svg {
  width: 50%;
  float: left;
  background-color: #373737;
  padding: 20px;
  border-radius: 70px;
}

.map__image path {
  fill: #112C3F;
  stroke: #56C9E8;
  stroke-width: 0.5px;
  transition: fill 0.3s
}

.map__image path:hover {
  fill: #56C9E8;
}

.map__transport {
  border: 1px solid #1D4D6A;
  background: url(grid.png);
  background-repeat: round;
}

.department-name {
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
  /* Pour éviter que le texte interfère avec la carte */
}

#container-carte-france {
  cursor: url('circle-cursor.svg'), auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carte-france {
  width: 100%;
  height: auto;
  /* Maintient les proportions */
  max-height: 100%;
  /* Empêche que la hauteur dépasse celle de la fenêtre */
}

#visualization {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.map__pie {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

#region-info {
  font-family: Arial, sans-serif;
  color: #333;
}

#region-title {
  color: #555;
  margin-bottom: 15px;
}

#department-name {
  position: absolute;
  visibility: hidden;
  top: 10px;
  left: 10px;
  font-size: 16px;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}

.departement-name {
  position: absolute;
  visibility: hidden;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
  pointer-events: none;
  /* Empêche les interactions avec la boîte */
  z-index: 10;
}